// app global css in SCSS form
:root {
  --image-width: 350px;
  --image-width-sm: 290px;
}

.text-my-color {
  color: #00acc1 !important;
}
.bg-my-color {
  background: #00acc1 !important;
}
.q-btn {
  height: 40px !important;
}
.q-field__bottom {
  padding-inline: 0 !important;
  color: rgb(0, 0, 0, 1) !important;
}
label {
  padding-bottom: 1px !important;
}
.q-chip {
  margin-left: 0 !important ;
  border-radius: 5px !important;
}
.my-card {
  width: var(--image-width);
  min-width: var(--image-width);
  border-radius: 10px;
}
.q-card > .q-img {
  border-radius: 10px !important;
  width: var(--image-width);
  height: 230px;
}
.search-title {
  font-size: 2.125rem;
  font-weight: 700;
}
.price {
  font-weight: 700;
  color: #00acc1;
  font-size: medium;
}
.my-courusel {
  height: 390px;
}
.seach-tags {
  overflow-x: scroll;
}
.search-tour {
  margin: 4px;
}
@media screen and (max-width: 470px) {
  .my-card {
    width: var(--image-width-sm);
    min-width: var(--image-width-sm);
  }
  .my-courusel {
    height: 450px;
  }
  .q-card > .q-img {
    border-radius: 10px !important;
    width: var(--image-width-sm);
    height: 198px;
  }
  .search-tour {
    margin: 0;
  }
  .q-carousel__slide {
    display: block !important;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  main {
    margin: 5px !important;
  }
}
@media screen and (max-width: 690px) {
  .search-title {
    font-size: 1.5rem;
    text-align: center;
  }
}
// @media screen and (max-width: 420px) {
//   .search-title {
//     font-size: 5vw;
//   }
// }

.seach-tags::-webkit-scrollbar {
  display: none;
}

.seach-tags {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
